<div class="container py-3">
    <div class="row">
        <div class="col-md-6">
            <h2>Employee Management</h2>
        </div>
        <div class="col ml-auto text-right">
            <button type="button" class="btn btn-outline-success">Add Employee</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Nabendu Biswas</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
                    <span class="badge badge-success">Development</span>
                    <hr>
                    <button type="button" class="btn btn-sm btn-outline-primary mr-2">Edit</button>
                    <button type="button" class="btn btn-sm btn-outline-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
